$border-radius-box: 8px;

.above-the-fold {
    min-height: 100vh;
  }

  //todo replace with variable
.box {
  border-radius: $border-radius-box;
}

.vert-card {
  border-radius: $border-radius-box;

  @include media-breakpoint-up(lg){
    border-radius: 0;

    &--l {
    border-radius:  $border-radius-box 0 0 $border-radius-box;
    }


    &--r {
    border-radius: 0 $border-radius-box $border-radius-box 0;
    }
  }
}